

.sidebar_card {
    position: relative;
    width: 100%;
    margin: 0.5rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #4e4e4e;
}

.sidebar_card:first-child{
    margin-top: 0;
}

.sidebar_card:last-child{
    margin-bottom: 0;
}

.sidebar_nickname {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 1rem;
}


.anticon-pushpin {
    position: absolute;
    top: -150%;
    right: 0;
    transition:all .30s;
    color: #666;
    z-index: 2;
}


.sidebar_card:hover {
    cursor: pointer;
    border:  solid #666;
}

.sidebar_card:hover .anticon-pushpin{
    top: 20px;
    right: 20px;
}



