

.sidebar_card {
    position: relative;
    /* border-radius: 8px; */
    width: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.sidebar_nickname {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 1rem;
}

/* 
.sidebar_card:hover {
    cursor: pointer;
    border: 0.5px solid;
} */



.anticon-pushpin {
    position: absolute;
    top: 20px;
    right: 20px;
}