
.comment_area {
    height: 100%;
    background-color: #fff;
    font-size: 1rem;
}

.comment_list {
    display: flex;
    list-style: none;
    flex-direction: column;
}

.comment {
    margin-bottom: 20px;
}

.comment_header {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.comment_content {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e9e7e7;
}

.comment_content span {
    margin-left: auto;
}


.comment_content span:hover {
    cursor: pointer;
    text-decoration: underline;
}


@media only screen and (max-width: 980px) {
    .comment_area {
        font-size: 1rem;
    }
}