
.comment_area {
    /* width: 1000px; */
    height: 100%;
    background-color: #fff;
    /* padding: 50px 50px 50px 0; */
    /* border-radius: 8px; */
}

.comment_list {
    display: flex;
    list-style: none;
    flex-direction: column;
}

.comment {
    margin-bottom: 20px;
}

.comment_header {
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    /* border-bottom: 1px solid #e9e7e7; */
}

.comment_content {
    /* font-size: 18px; */
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e9e7e7;
}