
.reply_area {
    margin-bottom: 24px;
}

.reply_area > textarea.ant-input{
    height: 100px;
}

.reply_button {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.ant-row {
    margin-bottom: 0;
}

.reply_button .ant-btn {
    border-radius: 4px;
    margin-bottom: 1rem;
    background-color: #e9e7e7;
}

/* @media only screen and (max-width: 980px) {
    .reply_area {
        margin-left: 0;
    }
    
} */