

.board_section {
    margin-top: 10px;
}


.board_container {
    height: 470px;
    margin: 0 10px 0 10px;
    padding: 14px 24px 0;
    display: flex;
    flex-direction: column;
    border-radius: 8px;    
    background-color: #fff;
    border: 1px solid #e9e7e7;
}



.board_header_area {
    padding-left: 40px;
    padding-right: 40px;
}

.board_header {
    padding: 0 10px 10px 0;
    border-bottom: 1px solid #e5e5e5;
}

.board_area {
    display: flex;
}

.board_list {
    width: 50%;
    height: 360px;
    margin: 0;
    padding-right: 20px;
    display: flex;
    list-style: none;
    flex-direction: column;
}

.board_section .board_list +.board_list {
    border-left: 1px solid #e8e8e8;
    padding: 0 40px 0 20px;
}

.board {
    position: relative;
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;

}

.pagination {
    margin: auto;
}