

.openvidu_page {
    position: fixed;
    font-size: 1.2rem;
    top: 60px;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: #000;
}

.openvidu_page_content{
    height: 700px;
    display: flex;
    margin: 50px;
}

