

.myPage {
    position: relative;
    width: 100%;
    height: 100%;
}


.myPage_area {
    display: flex;
    margin: 18px;
    background-color: #fff;
    height: 900px;
    border-radius: 8px;
}


.myPage_sideBar_area {
    width: 230px;
}


.myPage_posts_area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}



@media only screen and (max-width: 980px) {
    .myPage_area {
        margin-top: 15px;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        height:100%
    }

    .myPage_sideBar_area {
        display: none;
    }
    
}
