<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>로그인</title>

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


  <!-- Custom styles for this template -->
  <link th:href="@{/css/signin.css}" rel="stylesheet">

</head>

<body class="text-center">
  <main class="form-signin">
    <form th:action="@{/account/login}" method="post">
      <a th:href="@{/}"><img class="mb-4" src="/img/Therapist_ci.png" alt="" width="72px" height="72px"></a>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
      <!-- 해당 페이지에서 파라미터로 error를 받았을 경우(/account/login?error) -->
      <div th:if="${param.error}" class="alert alert-danger" role="alert">
        Invalid username and password.
      </div>
      <!-- 해당 페이지에서 파라미터로 logout 받았을 경우(/account/login?logout) -->
      <div th:if="${param.logout}" class="alert alert-primary" role="alert">
        You have been logged out.
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="username" name="username" placeholder="Input your username.">
        <label for="username">Username</label>
      </div>
      <div class="form-floating">
        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Input your password.">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="my-2">
        <a class="w-100 btn btn-lg btn-primary" type="submit" th:href="@{/account/register}">회원가입</a>
      </div>

      <!-- <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div> -->
      <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
      <a href="#" th:href="@{https://kauth.kakao.com/oauth/authorize?client_id=bee5cefdb5d9d94c0b32f71cf0de38e7&redirect_uri=http://localhost:8080/auth/kakao/callback&response_type=code}"><img class="mt-2" src="/img/kakao_login_medium_wide.png" alt="" width="300px" height="45px"></a>
      <p class="mt-5 mb-3 text-muted">(C) 2021. (주)테라피스트 all rights reserved.</p>
    </form>
  </main>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>