
.selectcard_section {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    font-size: 13px;
    margin-top: 15px;
}

.selectcard_area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: 4px 11px 4px 11px;
}

.selectcard {
    width: 100%;
    padding: 10px;
}

.selectcard:hover {
    cursor: pointer;
}


@media only screen and (max-width: 980px) {
   
    .selectcard_section {
        display: flex;
        flex-flow: row wrap;
        /* justify-content: space-between; */
        /* justify-content: flex-start;  */
    }

}