
.card_area{
    position: relative;
    display: flex;
    list-style: none;
    padding: 3rem 0 1.5rem 0;
    overflow: hidden; 
}

.card_list {
   position: relative;
   width: 100%;
   padding-left: 0;
}


.card {
    background-color:#fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 8px;
    margin: 0 10px;
}

.card_img {
    width: 278px;
    height:250px;
}
.card_left_arrow {
    position: absolute;
    top: 47%;
    z-index: 100;
}

.card_left_arrow .anticon {
    font-size: 35px;
}

.card_right_arrow {
    position: absolute;
    top: 47%;
    right: 0;    
    z-index: 100;
}

.card_right_arrow .anticon {
    font-size: 35px;
}

@media only screen and (max-width: 980px) {
    .card_list {
        display: none;
    }
}