
.reply_area {
    margin-left: 40px;
    margin-bottom: 24px;
}

.reply_area > div > textarea.ant-input{
    height: 100px;
}

.reply_button {
    position: relative;
    display: flex;
    justify-content: flex-end;
}


.reply_button .ant-btn {
    border-radius: 4px;
    background-color: #e9e7e7;
    margin-top: 24px;
}

