
.webrtc {
    position: absolute;
    font-size: 1.2rem;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e9ecef;
}

.webcard_row {
    width: 100%;
    height: 770px;
}